- var currentYear = new Date().getFullYear();
include pug/zone-mixin.pug
include pug/event-mixin.pug

head
  title= "Timeline"
  meta( charset="utf-8" )
  meta( http-equiv="x-ua-compatible" content="ie=edge" )
  meta( name="author" content="Selma Lepart" )
  meta( name="robots" content="all,follow" )
  meta( name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" )
  link( rel="stylesheet", type="text/css", href="style.css", media="screen, print" )


body
  
  #timeline(data-start="-6500", data-end=currentYear+500 )

    svg#timeline--zones(
      width="6000",
      height="960",
      viewbox="0 0 6000 960"
      xmlns="http://www.w3.org/2000/svg"
    )
      g#zone-group(transform='translate(0, 15)')
        - let reversedZone = data.zone.reverse();
        each zone in data.zone
          + zone( zone )

    #timeline--events
      each event in data.event
        + event( event )
  
  script( src="main.js")
